@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-primary) var(--scrollbar-secondary);

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: var(--scrollbar-secondary);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-primary);
    border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

body {
  background: var(--bg-color);
}

.app {
  font: var(--font-m);
  color: var(--primary-color);
  min-height: calc(100vh - var(--header-height) - 50px);
  margin-top: calc(var(--header-height) + 50px);
}

.app__scroll-to-top {
  position: fixed;
  right: 50px;
  bottom: 30px;
}
