@import '@/app/styles/media.scss';

@mixin content-page-width {
  width: var(--content-width);
  margin: 0 auto;

  @include media($small) {
    width: 100%;
  }
}

@mixin heading-text-theme {
  line-height: 1;
  background-image: linear-gradient(to right, var(--primary-2), var(--default-text-color));
  background-clip: text;
  color: transparent;
}
