.app_dark_theme {
  transition: 0.3s all;

  --bg-color: #0F0715;
  --second-bg-color: #050709;

  --nav-bar: #0F0715;

  --default-text-color: #ffffff;

  --shadow-color: rgba(114, 30, 255, 0.51);


  --white: #ffffff;
  --primary-color: #8750f7;
  --inverted-primary-color: #00c8b4;
  --primary-1: #2400ff;
  --primary-2: #9b8dff;
  --primary-3: #4654f9;
  --secondary-color: #2a1454;
  --theme-accent-1: #0f0715;
  --theme-accent-2: #140c1c;

  --off-white: #f6f3fc;

  --grey-1: #747779;
  --grey-2: #d9d9d9;
  --grey-3: #dddddd;
  --grey-4: #22272c;
  --grey-5: #636363;
  --grey-6: #1b262e;

  --scrollbar-primary: #8750f7;
  --scrollbar-secondary: #2a1454;
}

