.app_light_theme {
  transition: 0.3s all;

  --bg-color: #ffffff;
  --second-bg-color: #f2f2f2;

  --nav-bar: #27274d;

  --default-text-color: #005658;
  --default-text-color-2: #000000;

  --shadow-color: rgba(0, 86, 88, 0.51);


  --white: #ffffff;
  --primary-color: #00c8b4;
  --inverted-primary-color: #8750f7;

  --primary-link: #008e76;
  --secondary-link: #66d6c4;

  --primary-1: #2400ff;
  --primary-2: #0ef3de;
  --primary-3: #00ff88;

  --secondary-color: #005658;

  --theme-accent-1: #0c2e2f;
  --theme-accent-2: #184a4b;

  --off-white: #f6f3fc;

  --grey-1: #747779;
  --grey-2: #d9d9d9;
  --grey-3: #dddddd;
  --grey-4: #22272c;
  --grey-5: #636363;
  --grey-6: #1b262e;

  --scrollbar-primary: #8750f7;
  --scrollbar-secondary: #2a1454;
}
