.app_light_theme {
  --bg-color: #ffffff;

  --nav-bar: #27274d;


  --white: #ffffff;
  --primary-color: #00c8b4;
  --inverted-primary-color: #8750f7;
  --primary-1: #2400ff;
  --primary-2: #0ef3de;
  --primary-3: #4654f9;
  --secondary-color: #005658;
  --theme-accent-2: #140c1c;

  --off-white: #f6f3fc;

  --grey-1: #747779;
  --grey-2: #d9d9d9;
  --grey-3: #dddddd;
  --grey-4: #22272c;
  --grey-5: #636363;
  --grey-6: #1b262e;

  --scrollbar-primary: #8750f7;
  --scrollbar-secondary: #2a1454;
}
